@using UserControl.Models
@model Car

@{
    ViewData["Title"] = "Delete car";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Delete confirmation for @Model.CarName</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">                
                    
                    <div class="form-group text-center">
                        <img class="border-info rounded-circle" style="max-width: 150px" id="ProfilePicturePreview" class="border-info rounded-circle" style="max-width: 150px" />
                    </div>
                    <div class="form-group">
                        <label asp-for="ProfilePictureUrl" class="control-label"></label>
                        <input asp-for="ProfilePictureUrl" class="form-control" readonly/>
                        <span asp-validation-for="ProfilePictureUrl" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CarName" class="control-label"></label>
                        <input asp-for="CarName" class="form-control" readonly/>
                        <span asp-validation-for="CarName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" readonly/>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StartDate" class="control-label"></label>
                        <input asp-for="StartDate" type="date" class="form-control" readonly/>
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="Id" />
                            <input type="submit" value="Confirm" class="btn btn-danger float-right"/>
                        </form>
                        
                        <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                    </div>                
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $("#ProfilePictureUrl").val();
        })       
    </script>
}